In [33]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [34]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Primorsk,UA,2022-05-21 02:52:54,46.7348,36.3443,57.87,73,97,17.29
1,1,Jaque,PA,2022-05-21 02:52:54,7.5175,-78.1703,77.02,89,100,2.71
2,2,Rikitea,PF,2022-05-21 02:52:55,-23.1203,-134.9692,74.14,77,7,7.63
3,3,Bredasdorp,ZA,2022-05-21 02:52:55,-34.5322,20.0403,50.04,84,37,6.13
4,4,Taltal,CL,2022-05-21 02:52:56,-25.4000,-70.4833,62.78,67,88,2.93

In [35]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [36]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [37]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
#Modified heat map
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [43]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Jaque,PA,2022-05-21 02:52:54,7.5175,-78.1703,77.02,89,100,2.71
6,6,Padang,ID,2022-05-21 02:52:56,-0.9492,100.3543,84.58,67,96,2.77
7,7,Butaritari,KI,2022-05-21 02:52:57,3.0707,172.7902,81.50,72,63,12.62
16,16,Nabire,ID,2022-05-21 02:53:01,-3.3667,135.4833,85.15,69,21,5.03
18,18,Adrar,MR,2022-05-21 02:53:02,20.5022,-10.0711,84.22,11,93,9.82
29,29,Kendallville,US,2022-05-21 02:53:06,41.4414,-85.2650,80.62,57,75,14.97
30,30,Tondano,ID,2022-05-21 02:53:07,1.3038,124.9112,76.71,82,77,3.15
39,39,Vaini,TO,2022-05-21 02:51:10,-21.2000,-175.2000,76.44,73,98,10.31
40,40,Victoria,HK,2022-05-21 02:50:02,22.2855,114.1577,85.32,71,63,5.01
42,42,Kapaa,US,2022-05-21 02:51:05,22.0752,-159.3190,76.48,91,36,3.00

In [44]:
preferred_cities_df.count()

City_ID       149
City          149
Country       149
Date          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
dtype: int64

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1          Jaque      PA     77.02   7.5175  -78.1703
6         Padang      ID     84.58  -0.9492  100.3543
7     Butaritari      KI     81.50   3.0707  172.7902
16        Nabire      ID     85.15  -3.3667  135.4833
18         Adrar      MR     84.22  20.5022  -10.0711
29  Kendallville      US     80.62  41.4414  -85.2650
30       Tondano      ID     76.71   1.3038  124.9112
39         Vaini      TO     76.44 -21.2000 -175.2000
40      Victoria      HK     85.32  22.2855  114.1577
42         Kapaa      US     76.48  22.0752 -159.3190

In [46]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [47]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
hotel_df

              City Country  Max Temp      Lat       Lng           Hotel Name
1            Jaque      PA     77.02   7.5175  -78.1703  Aventuras Jaque S.A
6           Padang      ID     84.58  -0.9492  100.3543       Mercure Padang
7       Butaritari      KI     81.50   3.0707  172.7902   Isles Sunset Lodge
16          Nabire      ID     85.15  -3.3667  135.4833    Hotel Nusantara I
18           Adrar      MR     84.22  20.5022  -10.0711
..             ...     ...       ...      ...       ...                  ...
505   San Patricio      US     81.18  28.0170  -97.5169   Motel 6 Sinton, TX
508  San Policarpo      PH     84.51  12.1791  125.5072    Agapita M. Nicart
510      Lang Suan      TH     85.89   9.9456   99.0785      Langsuan Resort
513        Bogande      BF     88.32  12.9714   -0.1436    Auberge Wendkouni
514        Guhagar      IN     84.81  17.4842   73.1929       Hotel Seawinds

[149 rows x 6 columns]

In [50]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [56]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))